@import "http://fonts.googleapis.com/css?family=Droid+Serif";
/* Above line is used for online google font */
h2 {
text-align:center;
font-size:24px
}
hr {
margin-bottom:30px
}
p {
color:#000;
font-size:16px;
font-weight:700
}
#searchFilm {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#searchFilmWithAttribute {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#serchAttributeButton {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#deleteFilm {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#insertFilm {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#updateFilm {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#chosenFormat {
border:1px solid #eb7400;
width:95px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#000000;
border-radius:3px;
background:linear-gradient(to bottom, #ffbb34 5%,#ff8800 100%);
cursor:pointer

}

#deleteButton {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}
#searchButton {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#confirm {
border:1px solid #9c0001;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #ff3548 5%,#cc0001 100%);
cursor:pointer

}
#cancel {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}

#insertButton {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}


#updateButton {
border:1px solid #0093e8;
width:125px;
padding:5px;
font-size:16px;
display:inline-block;
font-weight:700;
color:#ffff;
border-radius:3px;
background:linear-gradient(to bottom, #33b5e7 5%,#0099cb 100%);
cursor:pointer

}


input[type=text] {
margin-top:5px;
margin-bottom:20px;
width:96%;
border-radius:5px;
border:0;
padding:5px 0
}

input[type=number] {
margin-top:5px;
margin-bottom:20px;
width:96%;
border-radius:5px;
border:0;
padding:5px 0
}
#name,#email {
padding-left:10px
}
input[type=submit] {
width:30%;
border:1px solid #59b4d4;
background:#0078a3;
color:#eee;
padding:3px 0;
border-radius:5px;
margin-left:33%;
cursor:pointer
}
input[type=submit]:hover {
border:1px solid #666;
background:#555;
color:#fff
}
.ui-dialog .ui-dialog-content {
padding:2em
}
div.container {
width:960px;
height:610px;
margin:50px auto;
font-family:'Droid Serif',serif;
position:relative
}
div.main {
margin-top:18px;
margin-bottom:25px;
float:left;
padding:10px 55px 25px;
background-color:#212529;
border:2px solid #fff;
box-shadow:0 0 10px;
border-radius:2px;
font-size:13px;
text-align:center
}


